@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/************************************/
/*         TOP CONTAINER            */
/************************************/

.header-container {
    background-image: url('images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--very-pale-cyan);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.header-logo-img {
    width: 30vw;
}

.try-it-container {
    background-color: white;
    text-align: center;
    border-radius: 30px;
    width: 30vw;
    height: 7vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.06), 0 6px 6px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.try-btn {
    text-decoration: none;
    color: black;
    font-size: 3.3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 35px 29px 10px 29px;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 6.5vw;
    text-align: center;
    line-height: 10vw;
}

.header-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.3vw;
    text-align: center;
}

.get-started-container {
    background-color: var(--pink);
    border-radius: 30px;
    width: 65vw;
    height: 12vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.06), 0 6px 6px rgba(0,0,0,0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5vh auto 6.5vh auto;
    cursor: pointer;
}

.start-btn {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3.7vw;
}

.mockup-img {
    width: 100%;
}

/************************************/
/*         BODY CONTAINER           */
/************************************/

.body-container {
    display: flex;
    flex-direction: column;
    margin: 8vw auto 0 auto;
    background-color: #fff;
    margin-bottom: 25vw;
}

.flex-row-feature {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0,0,0,0.08);
    padding: 12vw 9vw 4vw 9vw;
    border: 0.01px solid rgba(128, 128, 128, 0.11);
    margin-bottom: 8vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.feature-img {
    width: 100%;
}

.feature-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 6vw;
}

.feature-info {
    text-align: center;
    font-family: 'Open sans', sans-serif;
    color: var(--grayish-blue);
    font-size: 4vw;
    line-height: 6vw;
}

/************************************/
/*         CONTACT CONTAINER        */
/************************************/

.footer-container {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 40vw;
}

.flex-row-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-img {
    margin-right: 5vw;
    margin-left: 4vw;
    width: 5vw;
}

.location {
    width: 12vw;
    align-self: center;
    margin-top: -9vw;
}

.contact-info {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    margin-right: 12vw;
}

.footer-logo {
    width: 55vw;
    margin-bottom: 1vw;
}

.first-menu-container, .second-menu-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 10vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.first-menu-container {
    margin-top: 5vw;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.2vw;
}

/************************************/
/*     SOCIAL MEDIA CONTAINER       */
/************************************/

.social-media-container{
    background: var(--very-dark-cyan);
    display: flex;
    justify-content: center;
}

.icon {
    color: white;
    font-size: 7.1vw;
    margin: 10vw 4vw 4vw 4vw;
    cursor: pointer;
}

.copyright {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6vw;
    text-align: center;
}

/************************************/
/*         FOOTER CONTAINER         */
/************************************/

footer {
    background-color: var(--very-dark-cyan);
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-top: 8vw;
}



footer a {
    text-decoration: none;
    color: rgb(226, 220, 220);
}